html,
body {
    height: 100%;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

* {
    box-sizing: border-box;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/spice_625x350_51471090241.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    font-size: 54px;
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text p {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Dosis', sans-serif;
    color: #b3b3b3;
}

.hero-text p2 {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Dosis', sans-serif;
    color: black;
    background: #c5c2b6;
    padding: 15px;
    border-radius: 7px;
}

.main-content {
    background: #e4e6c3;
    padding: 0 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.6fr 1.6fr 1.8fr;
    grid-template-rows: 0.1fr 0.6fr;
    gap: 10px 10px;
    grid-template-areas:
        "Header Header india-map"
        "Text-1 Text-1 india-map";
}

.Header {
    grid-area: Header;
    margin-top: 0;
    margin-left: 15px;
    padding-top: 25px;
    font-size: 25px;
    color: #813405;
}

.india-map {
    grid-area: india-map;
    padding-bottom: 20px;
}

.Text-1 {
    grid-area: Text-1;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: #433e3f;
    padding-left: 15px;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
}

.flex-container2 {
    display: flex;
    justify-content: space-between;
}

.grid-container-2 {
    display: grid;
    margin: 10px, 30px;
    padding: 0px, 10px 10px 0;
    justify-items: center;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
    grid-template-areas:
        "topic col-1 col-2 "
        "topic region-chart-1 col-2-chartB";
}

.section2 {
    background: #ecc8b9;
    padding: 20px;
}

.section2 h2 {
    padding-left: 150px;
    font-size: 30px;
    color: #813405;
}

.section2>p {
    padding: 0px 150px;
    font-size: 20px;
    line-height: 35px;
    color: #433e3f;
}

.section3>p {
    font-size: 20px;
    line-height: 35px;
    color: #433e3f;
}

.section3 {
    background: #ecc8b9;
}

.section4 {
    background: #ecc8b9;
    padding: 30px;
}

.section4>p {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.section3 h2 {
    padding: 30px 0 30px 150px;
    font-size: 30px;
    color: #813405;
    background: #ecc8b9;
}

.explanation {
    padding: 0px 150px;
    font-size: 20px;
    line-height: 35px;
    color: #433e3f;
    border-bottom: 50px solid #ecc8b9;
    padding: 10px;
}

.explanation>ul {
    margin: 0 150px;
    text-align: justify;
    text-justify: inter-word;
}

#last-one {
    border-bottom: none;
}

.text-2 {
    justify-items: center;
    padding: 10px 40px 10px 40px;
    line-height: 22px;
}

.topic {
    grid-area: topic;
    padding: 50px;
    color: darkslategrey;
    font-size: 25px;
    align-self: center;
    border-left: 4px ridge rgb(119, 117, 117);
    margin-left: 40px;
}

.topic ol {
    font-size: 18px;
    text-align: start;
    line-height: 35px;
}

.topic p {
    font-size: 20px;
}

.col-1 {
    grid-area: col-1;
    color: darkslategrey;
    font-size: 22px;
    text-align: justify;
}

.col-2 {
    grid-area: col-2;
    color: darkslategrey;
    font-size: 22px;
    text-align: justify;
}


.region-chart-1>img {
    grid-area: region-chart-1;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    justify-items: center;
}

#spicy-cook {
    margin: 40px;
}

.col-2-chartB {
    grid-area: col-2-chartB;
    object-fit: cover;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
    padding: 10px;
}

.grid-container-3 {
    display: grid;
    margin: 10px, 30px;
    padding: 0px, 10px 10px 0;
    justify-items: center;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "topic col-1 col-2 "
        "topic region-chart-1 col-2-chartB";
}

.grid-container-4 {
    display: grid;
    margin: 10px, 30px;
    padding: 0px, 10px 10px 0;
    justify-items: center;
    grid-template-columns: auto 1.3fr 1.3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "topic col-1 col-2 "
        "topic region-chart-1 col-2-chartB";
}

.grid-container-5 {
    display: grid;
    margin: 15px, 30px;
    padding: 10px, 10px 10px 0;
    justify-items: center;
    grid-template-columns: auto 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "topic . "
        "topic region-chart-1";
}

.grid-container-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 7px;
    grid-template-areas:
        "img1 img2 img3 img4";
}

#myfood {
    padding: 0px 10px 40px 150px;
}

a {
    color: seagreen;
}

a:hover {
    background-color: gold;
}

a:visited {
    color: purple;
}

#references {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}